@*@model IEnumerable<SinExWebApp20328381.Models.ServicePackageFee>*@
@model SinExWebApp20328381.ViewModels.SelectCurrency
@{
    ViewBag.Title = "Service Package Fees";
}

<h2>Service Package Fees</h2>
<div>
    @using (Html.BeginForm("Index", "ServicePackageFees", FormMethod.Get))
    {
        @Html.LabelFor(a => a.CurrencyCode, "Change Currency to: ", htmlAttributes: new { @Class = "" })
        @Html.DropDownListFor(a => a.CurrencyCode, Model.Currencies, "Please Select", htmlAttributes: new { @Class = "dropdown" })
        <br />
        <input class="btn btn-default" type="submit" value="Change" />
    }
</div>
<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServicePackageFee.PackageType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePackageFee.ServiceType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePackageFee.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePackageFee.MinimumFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePackageFee.Penalty)
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model.ServicePackageFees) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PackageType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penalty)
        </td>
        
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ServicePackageFeeID }) |

            </td>
        
    </tr>
}

</table>
