@model SinExWebApp20328381.Models.PackageTypeSize

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PackageTypeSize</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PackageType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PackageTypeSizeID })
</p>
